.more {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #F39C12;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
.more i {
      margin-left: 10px; }
.more:hover {
      color: #F4D03F; }
.tx-information {
    margin-top:5px;
    font-size: 14px;
}
audio {
        width: 100%;
        /* padding: 0 3rem; */
        margin: 2rem 0;
      }
.subscribe-form select {
        border: 2px solid #E1E1E1;
        height: 65px;
        padding: 0 30px;
        border-radius: 5px;
        width: 100%;
        color: #F39C12;
    }
/* .subscribe-form select ::-ms-expand { 
    display: none; 
  } 
.subscribe-form select { 
    /* for Firefox */ 
    -moz-appearance: none; 
    /* for Safari, Chrome, Opera */ 
    -webkit-appearance: none; 
  }  */
/* .subscribe-form :after {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    color: #F39C12;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid #F39C12;
    pointer-events: none;
} */