.card-body h3 {
    color: #2E2E2E;
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 300;
}
.card-body ul {
    padding-bottom: 40px;
}

.subscribe-form select {
    border: 2px solid #E1E1E1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    width: 100%;
    color: #F39C12;
}
